<% include partials/header %>

<div class="container">
    <div>
        <h1 style="text-align: center; color: white; margin: 5% 0;"><%= teacher.name %></h1>
        <div style="width: 30%; margin: 20px auto;">
            <table border="1 solid black" style="width: 100%; background: white;">
                <tr style="color: black; text-align: center;">
                    <td><strong>NAME</strong></td>
                    <td><%= teacher.name %></td>
                </tr>
                <tr style="color: black; text-align: center;">
                    <td><strong>SUBJECT</strong></td>
                    <td><%= teacher.subject %></td>
                </tr>
                <tr style="color: black; text-align: center;">
                    <td><strong>EMAIL</strong></td>
                    <td><%= teacher.email %></td>
                </tr>
                <tr style="color: black; text-align: center;">
                    <td><strong>CONTACT</strong></td>
                    <td><%= teacher.contact %></td>
                </tr>
            </table>
            <br>
            <a href="/view/<%= teacher._id %>/edit" class="btn btn-sm btn-primary">Edit</a>
            <form action="/view/<%= teacher._id %>?_method=DELETE" method="POST" style="display: inline;">
                <button class="btn btn-sm btn-danger">Delete</button>
            </form>
            <br> <br>
            <a href="/view" class="btn btn-sm btn-success">Go Back</a>
        </div>
    </div>
</div>

<% include partials/footer %>