<% include partials/header %>

<div class="container">
    <div>
        <h1 style="text-align: center; color: white; margin: 5% 0;">VIEW ALL TEACHERS</h1>
        <div style="width: 80%; margin: 20px auto;">
            <table border="1 solid black" style="width: 100%; background: white;">
                <tr style="color: black; text-align: center;">
                    <th>NAME</th>
                    <th>SUBJECT</th>
                    <th>EMAIL</th>
                    <th>CONTACT NO.</th>
                </tr>
                <% teachers.forEach(function(teacher) { %>
                <tr style="color: black; text-align: center;">
                    <td><%= teacher.name %></td>
                    <td><%= teacher.subject %></td>
                    <td><%= teacher.email %></td>
                    <td><%= teacher.contact %></td>
                    <th><a href="/view/<%= teacher._id %>" class="btn btn-md btn-primary">VIEW <%= teacher.name %></a></th>
                </tr>
                <% }); %>
            </table>
            <br>
            <a href="/" class="btn btn-sm btn-success">Go Back</a>
        </div>
    </div>
</div>

<% include partials/footer %>